
ion-title{
    font-size: small;
    text-align: center;
  }
  .avatar{
    margin: auto;
    width:100px ;
    height:100px;
 }
 dt{
  color: darkred;
    font-size: 12px; 
    text-align: right;
  }
  dd{
    text-align: right;

    font-size: 12px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}